---
layout: ""
page_title: "Provider: kentik-cloudexport"
description: |-
  The kentik-cloudexport provider provides resources to interact with Kentik CloudExport API.
---

# kentik-cloudexport provider

The kentik-cloudexport provider provides resources to interact with Kentik CloudExport API.

Interacting with Kentik CloudExport API requires authorization with valid (email, token) pair.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
